.dash-row--data {
    font-size: 1.8rem;
}

.table-headers {
    /*display: block;*/
    /*margin-right: 3rem;*/
    font-size: 2.6rem;
    /*padding-right: 18rem;*/
    /*text-align: center;*/
    /*background-color: red;*/
    /*margin-left: 2rem;*/
    /*justify-content: space-between;*/
    padding-bottom: 2rem;
    /*display: inline-block;*/
}

.section-dashboard {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.dash-heading {
    font-size: 3.6rem;
    margin-bottom: 1rem;

}

.dash-subheading {
    text-transform: uppercase;
    font-size: 1.8rem;
    /*padding-left: 1rem;*/
    font-weight: 600;
    margin-bottom: 5rem;
}

.table {
    margin-top: 2rem;
    background-color: #1E2027FF;
    padding: 1.5rem 0;
    color: #ddd;
    /*color: black;*/
    border-radius: 5px;
}

.dash-row--data:hover,
.dash-row--data:active{
    background-color: #444;
    cursor: pointer;
}

.p-3 {
    padding: 1rem 3rem;
    border-bottom: solid 1px darkgray;
}