.section-nav {
    display: grid;
    grid-template-columns: 1fr 7fr;
    /*grid-template-rows: 80 1fr;*/
}
.nav-top {
    background-color: var(--dark-color-900);
    grid-column: 1 / 3;
    height: 6.4rem;
    border-bottom: solid 1px var(--text-light-100);
}
.nav-left {
    background-color: var(--dark-color-900);
    height: calc(100vh - 6.4rem);
}

.nav-body {
    background-color: #ffffff;
}