.row-data {
    padding: 1rem;
    border-bottom: solid 1px #ccc;
}

.row-title {
    color: teal;
}


.dash-row--data {
    font-size: 1.6rem;
}

.dash-row--data:hover,
.dash-row--data:active{
    background-color: #eee;
    cursor: pointer;
}

.table-headers {
    /*display: block;*/
    /*margin-right: 3rem;*/
    font-size: 1.8rem;
    /*padding-right: 18rem;*/
    /*text-align: center;*/
    background-color: #eee;
    /*margin-left: 2rem;*/
    /*justify-content: space-between;*/
    /*padding-bottom: 2rem;*/
    /*display: inline-block;*/
    padding: 1rem;
}

.table {
    margin-top: 2rem;
    background-color: white;
    /*padding: 1.5rem 0;*/
    color: #333;
    /*color: black;*/
    border-radius: 2px;
    border: solid 1px #ccc;
    width: 100%;
}

thead {
    text-align: left;
}

.table-footer {
    display: flex;
    justify-content: space-between;
}