.section-ticketPage {
    color: black;
    font-size: 1.8rem;
    background-color: #eee;
    /*min-height: 100vh;*/
    height: 100%;
}

.ticketPage-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
.ticketPage-left--container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.ticket-user {

}

.ticket-assigned {
}

.ticket-title-section {
}

.ticket-description-section {
    color: black;
    min-width: 90rem;
    /*height: 100%;*/
}

.ticket-comments-section {
    color: black;
    grid-column: 1 / 4;
}

.ticket-margins {
    margin-left: 2rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.ticket-title {
}

.ticket-container--time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.ticket-container--time span {
    font-weight: 500;
    color: black;
}

.ticket-container--time p {
    color: #555;
}


.ticket-description--input {
    resize: none;
    width: 100%;
    border: none;
    min-height: 7.2rem;
    font-family: inherit;
}

.ticket-comments {
}

.ticket-comments--input {
    /*border: transparent;*/
    width: 100%;
    font-family: inherit;
}

.newComment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.ticket-title--input {
    width: 100%;
    border: none;
    font-size: 2.6rem;
    font-family: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    display: block;
}